.haeder {
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
